{erl_opts, [debug_info, warnings_as_errors]}.
{deps, []}.

{escript_incl_apps,
    [correct_move]}.
{escript_main_app, correct_move}.
{escript_name, correct_move}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{plugins, [
    {gradualizer, {git, "git://github.com/josefs/Gradualizer.git", {branch, "master"}}}
]}.

%% Profiles
{profiles, [{test,
               [{erl_opts, [debug_info, {d, debug}]}]},
           {rand_bot,
               [{erl_opts, [{d, bot, rand_bot}]}]},
           {minimax_bot,
               [{erl_opts, [{d, bot, minimax_bot}]}]}
]}.

