{erl_opts, [debug_info, warn_missing_spec, warnings_as_errors]}.
{deps, []}.

{escript_incl_apps,
 [correct_move]}.
{escript_main_app, correct_move}.
{escript_name, correct_move}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
